
body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    font-family: sans-serif;
    max-width: 1280px;
    margin-inline: auto;
    /* outline: solid red 2px; */
    align-items: center;
    --main-blue-color: rgb(37, 84, 255);
    min-height: 2000px;    
    &::before{
        position: fixed;
        content: "";
        width: 100%;
        z-index: -10;
        height: 100%;
        background-image: url('/bodyWallpaperwebp.webp');
        background-attachment:fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        filter: grayscale(90%) brightness(0.3) ;        
    }
}

nav{
    display: grid;
    position: sticky;
    top: 20px;
    grid-template-columns: auto max-content auto;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding-block: 10px;    
    font-size: 1rem;
    border-bottom: 1px solid var(--main-blue-color);
    /* outline: solid red 2px; */
    div:first-of-type{        
        padding-left: 10px;
        font-size: 1.4rem;
        font-weight: 800;
        color: var(--main-blue-color);
    }
    #main-options-container{
        display: flex;
        justify-content: center;
        gap: 20px;
        button{ 
            color: white; 
            text-decoration: none;
            font-weight: 600;
            font-size: 1rem;
            border: none;
            background-color: unset;
            &:hover{
                color: aqua;
                cursor: pointer;
            }
        }
    }
    div:last-of-type{
        display: grid;
        grid-template-columns: repeat(2, max-content);
        justify-content: end;
        gap: 5px;
        padding-right: 10px;
    }
}
/* #sign-in-popover, #sign-up-popover{

} */
#has-company-question-container{
    display: flex;
    flex-direction: column;
}
.button-styling{
    padding-block: 10px;
    padding-inline: 15px;
    border: none;
    border-radius: 4px;
    --multiplier: 0;
    --bg-color: rgb(50, 55, calc(62 + var(--multiplier)));
    background-color: var(--bg-color);
    color: white;
    &:last-of-type{
        --bg-color: var(--main-blue-color);
    }
    &:hover{
        cursor: pointer;
        filter: brightness(1.8);
    }
}
form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;   
    input{
        margin-bottom: 15px;
        border-radius: 4px;
        
        &:is(:not([type="button"], [type="radio"])){
            outline: 2px solid var(--main-blue-color);
        }
        border: none;
        padding-block: 5px;
        padding-inline: 15px;
        &:focus{
            &:is(:not([type="radio"])){
                outline: 4px solid rgb(37, 31, 225);
            }
        }
        
    }

}
/* #no-choice:is(input[type="radio"]:checked) form > #company-name {    
    display: none;
} */

[popover]{
    padding-inline: 100px;
    padding-bottom: 50px;
    padding-top: 10px;
    border-radius: 10px;      
    border: 2px var(--main-blue-color) solid;    
}


dialog{
    h1{ 
        color: var(--main-blue-color);    
        text-align: center;    
        margin-top: 10px;
    }
    &::backdrop{
        background-color: rgba(255, 255, 255, 0.703);
        transition: all 0.2s ease;
        backdrop-filter: blur(6px);
    } 
}
.close-popover-button{
    position: absolute;
    top: 20px;
    right: 26px;
    padding: 4px 10px;
    background-color: rgb(238, 44, 89);
}
#signed-in-menu{
    display: none;
    font-size: 1rem;   
    font-weight: 100; 
    &:hover{
        #signed-in-submenu{ display: flex;}
    }
}
@keyframes slide-down {
    from{
        transform: translate(0, 140%);
        opacity: 0;
    }
    to{
        transform: translate(0, 60%);
        opacity: 1;
    }
}
#signed-in-submenu-wrapper{
    display: flex;
    position: absolute;
    align-items: center;
    transform: translateY(80%);
    /* min-width: 230px; */
    height: 30px;
    /* outline: 2px red solid; */
    
}
#signed-in-submenu{
    display: none;
    flex-direction: column;
    position: relative;
    gap: 0;
    background-color: var(--main-blue-color);
    animation: slide-down 0.3s ease forwards;
    /* transform: translate(0px, 50%); */
    
    span{
        font-size: 1rem;
        color: white;
        padding-inline: 10px;
        margin: 0;
        background-color: var(--main-blue-color);
        min-width: 100%;
        text-align: center;
        transition: transform 0.2s ease;

        &:hover{
            cursor: pointer;
            color: var(--main-blue-color);
            background-color: white;
            outline: solid 4px var(--main-blue-color);
            transform: translateX(20px);
        }
    }
}
#call-to-action{
    margin-top: 100px;
    max-width: 60%;
    h1{
        font-size: 2.5rem;
        text-align: center;
        color: white;
    }
    > div:first-of-type{
        display: flex;
        flex-direction: column;
        align-items: center;
        /* div{
            display: flex;
        } */
    }
}

footer{
    display: flex;
    position: fixed;
    bottom: 0;
    padding-block: 20px;
    min-width: 100%;
    align-items: center;
    color: white; 
    background-color: var(--main-blue-color);
    > div{
        margin-inline: auto;
    }
}